/* @import url(normalizes/estilosGenerales.css);
@import url(components/navbar/navbar.css);
@import url(components/about/about.css);
@import url(components/gallery/gallery.css);
@import url(components/slider/slider.css);
@import url(components/contact/contact.css);
@import url(components/footer/footer.css);
 */

/* GENERALES */
html {
   scroll-behavior: smooth;
   background-color: #958a8a;
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background: #202040;
   color: #eee;
   font-size: 16px;
   margin: 0 auto;
   font-family: "Courier Prime", monospace, sans-serif;
   font-family: "Noto Sans TC", sans-serif;
}

img {
   max-width: 100%;
   object-fit: cover;
   user-select: none;
}

a {
   outline: none;
   text-decoration: none;
}

ol,
ul {
   list-style: none;
}

button {
   background: none;
   outline: none;
   border: none;
}

/* ABOUT */
.about {
   background-color: #202060;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1em 2em 0;
   min-height: 100vh;
}

.about__title {
   font-size: 24px;
   color: #bcbcbc;
   margin-bottom: 1.8em;
}

.about__p {
   line-height: 26px;
   word-spacing: 3px;
   letter-spacing: 1px;
   color: #b9c9d9;
}

/* NAV */
.header {
   position: relative;
   z-index: 100;
   background: -webkit-linear-gradient(
      bottom,
      rgba(34, 34, 34, 0.9),
      rgba(51, 51, 51, 1),
      rgba(34, 34, 34, 0.9)
   );
   width: 100%;
   position: sticky;
   top: 0;
   transition: border-radius 0.2s linear;
}

.navbar {
   position: relative;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.logo {
   height: auto;
   width: 60px;
   /* position: relative; */
   display: inherit;
   align-items: center;
   border: 2px solid none;
   padding: 2px;
   cursor: pointer;
}

.logo img {
   border-radius: 50%;
}

.navbar__list {
   position: absolute;
   top: 50px;
   left: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: calc(100vh - 50px);
   background: #555;
   transition: transform 0.3s linear;
   transform: translateX(-100%);
   z-index: -100;
}

.navbar__li {
   width: 100%;
   cursor: pointer;
   text-align: center;
}

.navbar__li:hover .navbar__link {
   color: #fff;
   text-shadow: 0 0 30px #fff;
}

.navbar__link {
   color: #ddd;
   transition: color;
}

.toggle-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 2px solid #eee;
   border-radius: 20%;
   cursor: pointer;
}

.toggle-menu__bar {
   position: relative;
   width: 80%;
   height: 3px;
   background: #eee;
   margin: 0 auto;
   border-radius: 20%;
}

.toggle-menu__bar::before,
.toggle-menu__bar::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   background: #eee;
   top: 0;
   left: 0;
   border-radius: 20%;
   transition: transform 0.2s;
}

.toggle-menu__bar::before {
   top: -7px;
}

.toggle-menu__bar::after {
   top: 7px;
}

.changeBar {
   height: 0;
}

.changeBar::before,
.changeBar::after {
   transform: rotate(45deg);
   top: 0;
}

.changeBar::after {
   transform: rotate(-45deg);
}

.text {
   padding: 0 10%;
   text-align: center;
   font-style: oblique;
   font-family: cursive;
   line-height: 32px;
}

.main-title {
   padding: 10px 0;
}

.showMenu {
   transform: translateX(0);
}

@media (min-width: 361px) {
   header {
      background: -webkit-linear-gradient(
         bottom,
         rgba(34, 34, 34, 0),
         rgba(51, 51, 51, 0),
         rgba(34, 34, 34, 0)
      );
   }

   .navbar {
      padding-left: 11%;
   }

   .navbar__list {
      width: 70%;
      height: 100%;
      top: 0;
      left: 30%;
      transform: translateX(0);
      background: none;
      padding: 0 20px;
      z-index: 0;
   }

   .toggle-menu {
      display: none;
   }

   .navbar__li {
      display: block;
      width: auto;
   }

   .test {
      padding: 0 20%;
   }

   .changeBgNavbar {
      background: -webkit-linear-gradient(
         bottom,
         rgba(34, 34, 34, 0.2),
         rgba(51, 51, 51, 0.2),
         rgba(34, 34, 34, 0.2)
      );
      border-radius: 0 0 30% 30%;
   }
}

/* GALLERY */
.title {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 0;
   font-size: 3rem;
   letter-spacing: 5px;
   background: #b030b0;
   transition: 0.3s;
   border: 0px solid transparent;
}

#title:target {
   padding: 15px 0 0;
   border-width: 50px 0 40px;
   border-style: solid;
   border-color: transparent;
}

.gallery {
   position: relative;
   width: 100%;
   display: grid;
   grid-gap: 8px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   grid-auto-rows: min-content;
   grid-auto-flow: row dense;
   justify-content: space-around;
   background: #b030b0;
}

[class^="gallery__imgBox"] {
   border: 1px solid #ddd;
   line-height: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 0;
}

[class^="gallery__imgBox"] img {
   width: 100%;
}

[class$="-Y"] {
   grid-row: span 2;
}

.modalGallery {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background: rgba(0, 0, 0, 0.7);
   transform: scale(0);
   transition: 0.4s;
}

.modal__img {
   transform: scale(0);
   transition: 0.4s;
}

@media (min-width: 361px) {
   .showImage {
      transform: scale(1);
   }

   .scale {
      transform: scale(1.8);
   }

   .overflow {
      overflow-y: hidden;
   }
}

@media (min-width: 992px) {
   .overflow {
      padding-right: 17px;
   }
}

/* SLIDER */
.slider {
   width: 100%;
   height: 80vh;
   max-height: 315px;
   position: relative;
   display: flex;
   border: 2px solid transparent;
   background: #602080;
   transition: 0.3s;
}

#slider:target {
   border-width: 50px 0 5px;
   border-style: solid;
   border-color: transparent;
}

.slider__img,
.slider__text {
   position: absolute;
   opacity: 0;
   transition: 1s;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   max-height: 300px;
   padding: 5px;
}

.slider__img {
   left: 0;
   width: 40%;
}

.slider__img--mxH {
   max-height: 100%;
}

.slider__text {
   flex-direction: column;
   left: 40%;
   width: 60%;
   padding: 0 1em;
   color: #eee;
}

.controls {
   position: relative;
   color: #eee;
   width: 100%;
   margin: 0 auto;
   padding: 15px 0;
   font-size: 2rem;
   display: flex;
   justify-content: space-around;
   background: #602080;
   border: none;
}

[class^="controls__btn"] {
   position: relative;
   background-color: white;
   width: 30px;
   height: 5px;
   cursor: pointer;
   margin: 0 20px;
   border-radius: 40%;
   outline: none;
}

[class^="controls__btn"]::before,
[class^="controls__btn"]::after {
   position: absolute;
   content: "";
   background: white;
   width: 70%;
   height: 100%;
   top: 0;
   border-radius: 40%;
}

.controls__btn-prev::before,
.controls__btn-prev::after {
   left: 0;
   transform-origin: left;
}

.controls__btn-next::before,
.controls__btn-next::after {
   right: 0;
   transform-origin: right;
}

[class^="controls__btn"]::before {
   transform: rotate(-45deg);
}

[class^="controls__btn"]::after {
   transform: rotate(45deg);
}

[class^="controls__btn"]:active,
[class^="controls__btn"]:active [class^="controls__btn"]::before,
[class^="controls__btn"]:active [class^="controls__btn"]::after {
   opacity: 0.5;
}

.changeImg {
   opacity: 1;
}

@media (min-width: 361px) {
   .slider {
      max-height: 615px;
      height: calc(100vh - 25px);
   }

   .slider__img,
   .slider__text {
      max-height: 600px;
      width: 50%;
   }

   .slider__text {
      left: 0%;
      padding: 0 1em;
   }

   .slider__text {
      left: 50%;
      padding: 0 1em;
   }
}

/* CONTACT */
.contact {
   min-height: 100vh;
   position: relative;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.contact__item--green {
   background: #0f0;
}

.contact__item--blue {
   background: #42a0f9;
}

.contact__item--purple {
   background: -webkit-linear-gradient(left, yellow, red, #f737c8);
}

[class^="contact__item"] {
   border: none;
   outline: none;
   position: relative;
   text-transform: uppercase;
   padding: 0 0.9rem;
   font-size: 1em;
   color: white;
   transform: rotate(-75deg);
   font-weight: 800;
   background-clip: text;
   overflow: hidden;
   border-radius: 30px 0;
}

[class^="contact__item"]::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 15px;
   background: -webkit-linear-gradient(
      top,
      transparent,
      rgba(255, 255, 255, 0.952),
      transparent
   );
   transform: translate(-15px, -24px) rotate(-14deg);
   transition: all 0.4s linear;
   z-index: -100;
}

[class^="contact__item"]:hover::before {
   transform: translate(15px, 42px) rotate(-14deg);
}

@media (min-width: 361px) {
   [class^="contact__item"] {
      transform: rotate(-60deg);
      font-size: 1.2em;
   }

   [class^="contact__item"]::before {
      transform: translate(-32px, -46px) rotate(-28deg);
   }

   [class^="contact__item"]:hover::before {
      transform: translate(30px, 70px) rotate(-28deg);
   }
}

@media (min-width: 891px) {
   [class^="contact__item"] {
      transform: rotate(-45deg);
      font-size: 2em;
   }

   [class^="contact__item"]::before {
      transform: translate(-63px, -68px) rotate(-44deg);
   }

   [class^="contact__item"]:hover::before {
      transform: translate(65px, 90px) rotate(-44deg);
   }
}

/* FOOTER */
.footer {
   width: 100%;
   text-align: center;
   padding: 5%;
   background-color: #a32f80;
}

.thanks {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   font-size: 1.5em;
   min-height: 100vh;
   color: #dcdcdc;
}

.emoji {
   font-size: 2em;
   color: #caabb9;
   width: 100%;
}

@media (min-width: 361px) {
   .thanks {
      align-items: center;
   }

   .emoji {
      padding-left: 0.3em;
      width: auto;
   }
}
